#Import libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
#Read Dataset

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

# Data Transformation

In [4]:
df.drop(columns = ['RowNumber',	'CustomerId',	'Surname'], inplace = True)

In [5]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df = pd.get_dummies(data = df, columns = ['Geography','Gender'])
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

# Feature Scaling

In [7]:
x = df.drop(columns = 'Exited')
y = df['Exited']

In [8]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,1,0,0,1,0

In [9]:
sc = StandardScaler()

x = sc.fit_transform(x)

# Model Building

In [10]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.25, random_state = 42)

In [11]:
ann = Sequential()

ann.add(Dense(units = 10, activation = 'relu'))

ann.add(Dense(units = 1, activation = 'sigmoid'))

ann.compile(optimizer = 'adadelta', loss = 'binary_crossentropy', metrics = 'accuracy')

ann.fit(xtrain,ytrain, epochs = 100)

Epoch 1/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7870 - accuracy: 0.5497
Epoch 2/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7859 - accuracy: 0.5500
Epoch 3/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7847 - accuracy: 0.5508
Epoch 4/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7835 - accuracy: 0.5509
Epoch 5/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7823 - accuracy: 0.5519
Epoch 6/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7811 - accuracy: 0.5525
Epoch 7/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7798 - accuracy: 0.5531
Epoch 8/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7785 - accuracy: 0.5536
Epoch 9/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7772 - accuracy: 0.5540
Epoch 10/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7760 - accuracy: 0.5540
Epoch 11/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7747 - accuracy: 0.5549
Epoch 12/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7734 - accuracy: 0.5555
Epoch 13/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7721 - accuracy: 0.5556
Epoch 14/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7709 - accuracy: 0.5563
Epoch 15/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7696 - accuracy: 0.5568
Epoch 16/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7684 - accuracy: 0.5575
Epoch 17/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7671 - accuracy: 0.5580
Epoch 18/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7659 - accuracy: 0.5588
Epoch 19/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7646 - accuracy: 0.5587
Epoch 20/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7634 - accuracy: 0.5591
Epoch 21/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7622 - accuracy: 0.5595
Epoch 22/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7609 - accuracy: 0.5595
Epoch 23/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7597 - accuracy: 0.5601
Epoch 24/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7585 - accuracy: 0.5603
Epoch 25/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7572 - accuracy: 0.5613
Epoch 26/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7560 - accuracy: 0.5625
Epoch 27/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7548 - accuracy: 0.5635
Epoch 28/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7536 - accuracy: 0.5640
Epoch 29/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7524 - accuracy: 0.5645
Epoch 30/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7511 - accuracy: 0.5655
Epoch 31/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7499 - accuracy: 0.5667
Epoch 32/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7487 - accuracy: 0.5679
Epoch 33/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7475 - accuracy: 0.5683
Epoch 34/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7463 - accuracy: 0.5683
Epoch 35/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7451 - accuracy: 0.5688
Epoch 36/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7439 - accuracy: 0.5689
Epoch 37/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7428 - accuracy: 0.5699
Epoch 38/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7416 - accuracy: 0.5703
Epoch 39/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7405 - accuracy: 0.5703
Epoch 40/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7393 - accuracy: 0.5705
Epoch 41/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7382 - accuracy: 0.5704
Epoch 42/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7370 - accuracy: 0.5712
Epoch 43/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7359 - accuracy: 0.5720
Epoch 44/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7347 - accuracy: 0.5731
Epoch 45/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7336 - accuracy: 0.5737
Epoch 46/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7325 - accuracy: 0.5744
Epoch 47/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7314 - accuracy: 0.5749
Epoch 48/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7302 - accuracy: 0.5755
Epoch 49/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7291 - accuracy: 0.5761
Epoch 50/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7280 - accuracy: 0.5765
Epoch 51/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7269 - accuracy: 0.5775
Epoch 52/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7257 - accuracy: 0.5779
Epoch 53/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7246 - accuracy: 0.5787
Epoch 54/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7235 - accuracy: 0.5795
Epoch 55/100
235/235 [==============================] - 1s 2ms/step - loss: 0.7224 - accuracy: 0.5799
Epoch 56/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7214 - accuracy: 0.5805
Epoch 57/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7203 - accuracy: 0.5807
Epoch 58/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7192 - accuracy: 0.5819
Epoch 59/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7181 - accuracy: 0.5831
Epoch 60/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7170 - accuracy: 0.5840
Epoch 61/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7160 - accuracy: 0.5848
Epoch 62/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7149 - accuracy: 0.5855
Epoch 63/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7138 - accuracy: 0.5861
Epoch 64/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7128 - accuracy: 0.5864
Epoch 65/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7117 - accuracy: 0.5872
Epoch 66/100
235/235 [==============================] - 1s 3ms/step - loss: 0.7107 - accuracy: 0.5877
Epoch 67/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7097 - accuracy: 0.5881
Epoch 68/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7086 - accuracy: 0.5885
Epoch 69/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7076 - accuracy: 0.5887
Epoch 70/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7066 - accuracy: 0.5897
Epoch 71/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7056 - accuracy: 0.5900
Epoch 72/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7046 - accuracy: 0.5908
Epoch 73/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7036 - accuracy: 0.5912
Epoch 74/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7026 - accuracy: 0.5915
Epoch 75/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7016 - accuracy: 0.5923
Epoch 76/100
235/235 [==============================] - 0s 2ms/step - loss: 0.7006 - accuracy: 0.5931
Epoch 77/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6996 - accuracy: 0.5940
Epoch 78/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6986 - accuracy: 0.5944
Epoch 79/100
235/235 [==============================] - 1s 5ms/step - loss: 0.6976 - accuracy: 0.5943
Epoch 80/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6966 - accuracy: 0.5948
Epoch 81/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6956 - accuracy: 0.5952
Epoch 82/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6946 - accuracy: 0.5960
Epoch 83/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6937 - accuracy: 0.5971
Epoch 84/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6927 - accuracy: 0.5981
Epoch 85/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6917 - accuracy: 0.5988
Epoch 86/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6908 - accuracy: 0.6000
Epoch 87/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6898 - accuracy: 0.6005
Epoch 88/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6888 - accuracy: 0.6012
Epoch 89/100
235/235 [==============================] - 1s 2ms/step - loss: 0.6879 - accuracy: 0.6013
Epoch 90/100
235/235 [==============================] - 1s 2ms/step - loss: 0.6870 - accuracy: 0.6019
Epoch 91/100
235/235 [==============================] - 1s 2ms/step - loss: 0.6860 - accuracy: 0.6029
Epoch 92/100
235/235 [==============================] - 1s 2ms/step - loss: 0.6851 - accuracy: 0.6035
Epoch 93/100
235/235 [==============================] - 1s 3ms/step - loss: 0.6841 - accuracy: 0.6045
Epoch 94/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6832 - accuracy: 0.6052
Epoch 95/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6823 - accuracy: 0.6057
Epoch 96/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6814 - accuracy: 0.6061
Epoch 97/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6805 - accuracy: 0.6063
Epoch 98/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6796 - accuracy: 0.6069
Epoch 99/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6787 - accuracy: 0.6079
Epoch 100/100
235/235 [==============================] - 0s 2ms/step - loss: 0.6777 - accuracy: 0.6081

In [12]:
ypred = ann.predict(xtest)
ypred

79/79 [==============================] - 0s 2ms/step

array([[0.5406475 ],
       [0.41028443],
       [0.5492599 ],
       ...,
       [0.50594825],
       [0.49042726],
       [0.65186733]], dtype=float32)

In [ ]:
#Evaluate the model

In [13]:
ypred = ypred > 0.5

In [14]:
from sklearn.metrics import classification_report

In [15]:
print(classification_report(ytest,ypred))

              precision    recall  f1-score   support

           0       0.81      0.66      0.73      2003
           1       0.22      0.39      0.28       497

    accuracy                           0.60      2500
   macro avg       0.52      0.52      0.50      2500
weighted avg       0.70      0.60      0.64      2500

# Hyperparameter Tuning

In [ ]:
#tuning function

In [16]:
!pip install -U keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [25]:
import keras_tuner as kt

In [26]:
def build_model(hp):
  model = Sequential()
  model.add(Dense(units = 10, activation ='relu'))
  model.add(Dense(units = 1, activation = 'sigmoid'))
  opti = hp.Choice('optimizer', values = ['adam','sgd','rmsprop'])
  model.compile(optimizer = opti, loss = 'binary_crossentropy', metrics = 'accuracy')

  return model

In [28]:
tuner = kt.RandomSearch(build_model,
                        objective ='val_accuracy',
                        max_trials = 5,
                        directory = 'project',
                        project_name = 'ANN')

In [ ]:
#New model

In [29]:
tuner.search(xtrain,ytrain, epochs = 5, validation_data = (xtest,ytest))

Trial 3 Complete [00h 00m 05s]
val_accuracy: 0.8023999929428101

Best val_accuracy So Far: 0.8223999738693237
Total elapsed time: 00h 00m 17s

In [31]:
tuner.get_best_hyperparameters()[0].values

{'optimizer': 'rmsprop'}

In [35]:
x.shape

(10000, 13)

In [36]:
model = tuner.get_best_models(num_models = 1)[0]
model.build(x.shape)

# Evaluating the new model

In [37]:
model.fit(xtrain,ytrain,epochs =  100)

Epoch 1/100
235/235 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8217
Epoch 2/100
235/235 [==============================] - 0s 2ms/step - loss: 0.4033 - accuracy: 0.8291
Epoch 3/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3963 - accuracy: 0.8312
Epoch 4/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3893 - accuracy: 0.8356
Epoch 5/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3821 - accuracy: 0.8408
Epoch 6/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3749 - accuracy: 0.8451
Epoch 7/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3686 - accuracy: 0.8476
Epoch 8/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3635 - accuracy: 0.8516
Epoch 9/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3590 - accuracy: 0.8535
Epoch 10/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3555 - accuracy: 0.8536
Epoch 11/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3528 - accuracy: 0.8556
Epoch 12/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8557
Epoch 13/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3484 - accuracy: 0.8571
Epoch 14/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3469 - accuracy: 0.8581
Epoch 15/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3457 - accuracy: 0.8584
Epoch 16/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8593
Epoch 17/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3436 - accuracy: 0.8601
Epoch 18/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3426 - accuracy: 0.8596
Epoch 19/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3422 - accuracy: 0.8591
Epoch 20/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8608
Epoch 21/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8597
Epoch 22/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3406 - accuracy: 0.8601
Epoch 23/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8604
Epoch 24/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8612
Epoch 25/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3396 - accuracy: 0.8616
Epoch 26/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3393 - accuracy: 0.8617
Epoch 27/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3389 - accuracy: 0.8625
Epoch 28/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3388 - accuracy: 0.8603
Epoch 29/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8612
Epoch 30/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3383 - accuracy: 0.8608
Epoch 31/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8617
Epoch 32/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3379 - accuracy: 0.8613
Epoch 33/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3378 - accuracy: 0.8621
Epoch 34/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3376 - accuracy: 0.8617
Epoch 35/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8628
Epoch 36/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8617
Epoch 37/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8612
Epoch 38/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8621
Epoch 39/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3369 - accuracy: 0.8628
Epoch 40/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8625
Epoch 41/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3366 - accuracy: 0.8623
Epoch 42/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3365 - accuracy: 0.8631
Epoch 43/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3361 - accuracy: 0.8625
Epoch 44/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8620
Epoch 45/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8620
Epoch 46/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3359 - accuracy: 0.8611
Epoch 47/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3358 - accuracy: 0.8628
Epoch 48/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8629
Epoch 49/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3357 - accuracy: 0.8616
Epoch 50/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3354 - accuracy: 0.8627
Epoch 51/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8609
Epoch 52/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8637
Epoch 53/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8623
Epoch 54/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8627
Epoch 55/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8611
Epoch 56/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3349 - accuracy: 0.8617
Epoch 57/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8636
Epoch 58/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3346 - accuracy: 0.8631
Epoch 59/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8629
Epoch 60/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8624
Epoch 61/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8625
Epoch 62/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8624
Epoch 63/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8640
Epoch 64/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8627
Epoch 65/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8621
Epoch 66/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8615
Epoch 67/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8629
Epoch 68/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8635
Epoch 69/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8641
Epoch 70/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3338 - accuracy: 0.8616
Epoch 71/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8625
Epoch 72/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8632
Epoch 73/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3336 - accuracy: 0.8623
Epoch 74/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8623
Epoch 75/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3335 - accuracy: 0.8629
Epoch 76/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3334 - accuracy: 0.8632
Epoch 77/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8615
Epoch 78/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8645
Epoch 79/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3333 - accuracy: 0.8617
Epoch 80/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3331 - accuracy: 0.8639
Epoch 81/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3330 - accuracy: 0.8641
Epoch 82/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8625
Epoch 83/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3328 - accuracy: 0.8632
Epoch 84/100
235/235 [==============================] - 1s 3ms/step - loss: 0.3331 - accuracy: 0.8645
Epoch 85/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8616
Epoch 86/100
235/235 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8631
Epoch 87/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8644
Epoch 88/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8636
Epoch 89/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8649
Epoch 90/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8647
Epoch 91/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8643
Epoch 92/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8621
Epoch 93/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8625
Epoch 94/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3327 - accuracy: 0.8637
Epoch 95/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8639
Epoch 96/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8635
Epoch 97/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8647
Epoch 98/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3325 - accuracy: 0.8636
Epoch 99/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8640
Epoch 100/100
235/235 [==============================] - 0s 2ms/step - loss: 0.3324 - accuracy: 0.8641