In [1]:
pip install -U keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.3.5-py3-none-any.whl (176 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 176.1/176.1 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.1)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.27.1)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.4)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.3.5 kt-legacy-1.0.5

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import Sequential
import tensorflow as tf 
from tensorflow.keras.layers import Dense
import keras_tuner as kf
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Churn_Modelling.csv')

In [5]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df.drop(columns = ['RowNumber'	,'CustomerId',	'Surname'], inplace=True)

In [7]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
df = pd.get_dummies(data = df,columns=['Geography','Gender'])
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [9]:
x = df.drop(columns = ['Exited'])
y = df['Exited']

In [11]:
sc = StandardScaler()

x = sc.fit_transform(x)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2, random_state=42)

In [14]:
ann = Sequential()

ann.add(Dense(units = 10, activation = 'relu'))
ann.add(Dense(units = 1, activation = 'sigmoid'))

ann.compile(optimizer = 'adadelta', loss = 'binary_crossentropy', metrics ='accuracy')

ann.fit(xtrain,ytrain,epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8353 - accuracy: 0.5567
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8339 - accuracy: 0.5579
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8325 - accuracy: 0.5586
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8311 - accuracy: 0.5587
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8297 - accuracy: 0.5601
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8283 - accuracy: 0.5609
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8269 - accuracy: 0.5614
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8255 - accuracy: 0.5616
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8241 - accuracy: 0.5621
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.8228 - accuracy: 0.5625
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8214 - accuracy: 0.5638
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8200 - accuracy: 0.5650
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8186 - accuracy: 0.5656
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8173 - accuracy: 0.5664
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8159 - accuracy: 0.5673
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8145 - accuracy: 0.5681
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8131 - accuracy: 0.5691
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8118 - accuracy: 0.5705
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8104 - accuracy: 0.5715
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8091 - accuracy: 0.5719
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8077 - accuracy: 0.5724
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8064 - accuracy: 0.5729
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8050 - accuracy: 0.5738
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8037 - accuracy: 0.5740
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8024 - accuracy: 0.5756
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.8011 - accuracy: 0.5761
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7998 - accuracy: 0.5767
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7984 - accuracy: 0.5778
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7971 - accuracy: 0.5781
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7958 - accuracy: 0.5791
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7945 - accuracy: 0.5795
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7932 - accuracy: 0.5803
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7919 - accuracy: 0.5806
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7906 - accuracy: 0.5810
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7893 - accuracy: 0.5822
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7881 - accuracy: 0.5828
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7868 - accuracy: 0.5836
Epoch 38/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7855 - accuracy: 0.5844
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7843 - accuracy: 0.5849
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7830 - accuracy: 0.5855
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7818 - accuracy: 0.5863
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7805 - accuracy: 0.5874
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7793 - accuracy: 0.5876
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7780 - accuracy: 0.5882
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7768 - accuracy: 0.5889
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7756 - accuracy: 0.5901
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7744 - accuracy: 0.5914
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7731 - accuracy: 0.5926
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7719 - accuracy: 0.5935
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7707 - accuracy: 0.5945
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7695 - accuracy: 0.5954
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7683 - accuracy: 0.5962
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7671 - accuracy: 0.5970
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7659 - accuracy: 0.5975
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7647 - accuracy: 0.5981
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7635 - accuracy: 0.5985
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7623 - accuracy: 0.5986
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7611 - accuracy: 0.5990
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7599 - accuracy: 0.5995
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7587 - accuracy: 0.6000
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7576 - accuracy: 0.6014
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7564 - accuracy: 0.6033
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7552 - accuracy: 0.6044
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7541 - accuracy: 0.6058
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7529 - accuracy: 0.6065
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7518 - accuracy: 0.6074
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7507 - accuracy: 0.6079
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7495 - accuracy: 0.6084
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7484 - accuracy: 0.6090
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7473 - accuracy: 0.6094
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7462 - accuracy: 0.6101
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7450 - accuracy: 0.6110
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7439 - accuracy: 0.6116
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7428 - accuracy: 0.6120
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7417 - accuracy: 0.6131
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7406 - accuracy: 0.6144
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7394 - accuracy: 0.6146
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7383 - accuracy: 0.6150
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7372 - accuracy: 0.6155
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7361 - accuracy: 0.6162
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7350 - accuracy: 0.6175
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7340 - accuracy: 0.6181
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7329 - accuracy: 0.6187
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7318 - accuracy: 0.6195
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7307 - accuracy: 0.6200
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7297 - accuracy: 0.6205
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7286 - accuracy: 0.6210
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7275 - accuracy: 0.6212
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7265 - accuracy: 0.6221
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7254 - accuracy: 0.6231
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7244 - accuracy: 0.6235
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7233 - accuracy: 0.6244
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7223 - accuracy: 0.6259
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7212 - accuracy: 0.6264
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7202 - accuracy: 0.6271
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7192 - accuracy: 0.6279
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7182 - accuracy: 0.6284
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.7172 - accuracy: 0.6290
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7162 - accuracy: 0.6298
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.7151 - accuracy: 0.6305

In [15]:
ypred = ann.predict(xtest)
ypred = ypred > 0.5

63/63 [==============================] - 0s 1ms/step

In [16]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.80      0.72      0.76      1607
           1       0.19      0.26      0.22       393

    accuracy                           0.63      2000
   macro avg       0.49      0.49      0.49      2000
weighted avg       0.68      0.63      0.65      2000

In [ ]:
#Hyperparameter tuning

In [23]:
def hyper(hp):
    model = Sequential()
    counter = 0
    for i in range(hp.Int('num_layers', min_value = 1,max_value=10)):
        if counter ==0:
            model.add(Dense(hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
                            activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid']),
                            input_dim = 13))
            counter = counter + 1  
        else:
          model.add(Dense(
              hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
              activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid'])))
        
    model.add(Dense(units = 1,activation='sigmoid'))
    model.compile(optimizer = hp.Choice('optimizer',values = ['adam','rmsprop']),
                loss = 'binary_crossentropy',metrics = 'accuracy')
    return model

In [26]:
tuner = kf.RandomSearch(hyper,
                        objective = 'val_accuracy',
                        max_trials = 3,
                        directory = 'project',
                        project_name = 'File1')

In [27]:
tuner.search(xtrain,ytrain,epochs = 5, validation_data = (xtest,ytest))

Trial 3 Complete [00h 00m 07s]
val_accuracy: 0.8034999966621399

Best val_accuracy So Far: 0.859000027179718
Total elapsed time: 00h 00m 19s

In [28]:
tuner.get_best_hyperparameters()[0].values

{'num_layers': 5,
 'units0': 72,
 'activation0': 'relu',
 'optimizer': 'adam',
 'units1': 8,
 'activation1': 'relu',
 'units2': 8,
 'activation2': 'relu',
 'units3': 8,
 'activation3': 'relu',
 'units4': 8,
 'activation4': 'relu'}

In [29]:
model = tuner.get_best_models(num_models=1)[0]
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 72)                1008

 dense_1 (Dense)             (None, 8)                 584

 dense_2 (Dense)             (None, 8)                 72

 dense_3 (Dense)             (None, 8)                 72

 dense_4 (Dense)             (None, 8)                 72

 dense_5 (Dense)             (None, 1)                 9

=================================================================
Total params: 1,817
Trainable params: 1,817
Non-trainable params: 0
_________________________________________________________________

In [30]:
model.fit(xtrain,ytrain,epochs = 100)

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.3393 - accuracy: 0.8604
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8622
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8658
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8694
Epoch 5/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3236 - accuracy: 0.8690
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3220 - accuracy: 0.8671
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3191 - accuracy: 0.8673
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3169 - accuracy: 0.8709
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3149 - accuracy: 0.8715
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3142 - accuracy: 0.8719
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3134 - accuracy: 0.8715
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3103 - accuracy: 0.8739
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3101 - accuracy: 0.8749
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3085 - accuracy: 0.8746
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3055 - accuracy: 0.8740
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3046 - accuracy: 0.8761
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3034 - accuracy: 0.8751
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3022 - accuracy: 0.8755
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3013 - accuracy: 0.8799
Epoch 20/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2978 - accuracy: 0.8777
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2986 - accuracy: 0.8784
Epoch 22/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2951 - accuracy: 0.8809
Epoch 23/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2955 - accuracy: 0.8795
Epoch 24/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2934 - accuracy: 0.8810
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2942 - accuracy: 0.8814
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2931 - accuracy: 0.8811
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2901 - accuracy: 0.8817
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2888 - accuracy: 0.8819
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2889 - accuracy: 0.8821
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2873 - accuracy: 0.8817
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2876 - accuracy: 0.8838
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2863 - accuracy: 0.8802
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2865 - accuracy: 0.8838
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2830 - accuracy: 0.8856
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2836 - accuracy: 0.8848
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2828 - accuracy: 0.8866
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2803 - accuracy: 0.8860
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2797 - accuracy: 0.8852
Epoch 39/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2784 - accuracy: 0.8873
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2790 - accuracy: 0.8866
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2780 - accuracy: 0.8874
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2772 - accuracy: 0.8879
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2753 - accuracy: 0.8886
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2749 - accuracy: 0.8884
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2751 - accuracy: 0.8894
Epoch 46/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2738 - accuracy: 0.8899
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2725 - accuracy: 0.8879
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2716 - accuracy: 0.8899
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2706 - accuracy: 0.8924
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2685 - accuracy: 0.8917
Epoch 51/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2690 - accuracy: 0.8910
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2689 - accuracy: 0.8917
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2686 - accuracy: 0.8909
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2680 - accuracy: 0.8917
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2656 - accuracy: 0.8916
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2661 - accuracy: 0.8916
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2641 - accuracy: 0.8939
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2626 - accuracy: 0.8949
Epoch 59/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2626 - accuracy: 0.8971
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2637 - accuracy: 0.8926
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2645 - accuracy: 0.8934
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2628 - accuracy: 0.8936
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2590 - accuracy: 0.8950
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2626 - accuracy: 0.8953
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2591 - accuracy: 0.8961
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2609 - accuracy: 0.8919
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2579 - accuracy: 0.8970
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2571 - accuracy: 0.8945
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2547 - accuracy: 0.8966
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2581 - accuracy: 0.8932
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2575 - accuracy: 0.8970
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2563 - accuracy: 0.8957
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2536 - accuracy: 0.8959
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2554 - accuracy: 0.8960
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2525 - accuracy: 0.8985
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2551 - accuracy: 0.8975
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2534 - accuracy: 0.8971
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2514 - accuracy: 0.8979
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2501 - accuracy: 0.8975
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2511 - accuracy: 0.8980
Epoch 81/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2535 - accuracy: 0.8966
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2507 - accuracy: 0.8984
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2490 - accuracy: 0.9032
Epoch 84/100
250/250 [==============================] - 1s 3ms/step - loss: 0.2491 - accuracy: 0.9010
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2496 - accuracy: 0.9003
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2475 - accuracy: 0.8986
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2492 - accuracy: 0.8970
Epoch 88/100
250/250 [==============================] - 1s 4ms/step - loss: 0.2531 - accuracy: 0.8967
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2470 - accuracy: 0.9009
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2469 - accuracy: 0.8995
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2505 - accuracy: 0.8966
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2506 - accuracy: 0.8996
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2467 - accuracy: 0.8982
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2432 - accuracy: 0.9009
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2475 - accuracy: 0.8985
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2452 - accuracy: 0.9007
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2458 - accuracy: 0.9005
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2447 - accuracy: 0.9011
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.2434 - accuracy: 0.9006
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.2450 - accuracy: 0.8984